html {
	font-size: 16px;
}
	
	body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	justify-content: center;
	align-items: center;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	text-align: center;
	width: 100%;
}

header h1 {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	border-bottom: 3px solid #77a466;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
}
header nav ul {
	margin: 0;
	padding: 10px;
}
header nav ul li {
	text-transform: uppercase;
	list-style-type: none;
	font-weight: 700;
	font-size: 14px;
	padding: 10px;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
	margin: 10px;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	justify-content: left;
	align-items: left;
	width: 100%;
}

.main-image img { 
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title, .main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
	color: #000;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.section-one h3 {
	padding: 10px 0;
}



.section-two h3,
.section-three h3 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}

/***phone***/

@media only screen and (min-width: 250px){
	.section-one, .section-two, .section-three{
		flex: 1 100%;
	}

	.bottom-section{
		justify-content: center;
		align-items: center;
		text-align: left;
	}
}

/***tablet***/
@media only screen and (min-width: 768px){
	.section-one, .section-two, .section-three{
		flex: 1 33%;
	}

	.bottom-section{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-basis: auto;
		text-align: center;
	}
}

/***desktop***/

@media only screen and (min-width: 1200px){
	.section-one, .section-two, .section-three{
		flex: 1 33%;
	}

    header h1 {
        width: 100%;
        padding: 10px;
        border-bottom: 1000px;
	}

	header nav ul {
		display: inline-flex;
	}
}